header {
  background: linear-gradient(to right, #4557aa, #0e1a4e);
}

header h1 {
  color: #ffffff;
  padding: 5px 5px 15px 5px;
}

#searchForm input {
  margin-bottom: 10px;
  border-radius: 5px;
}

#searchButton {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #4bc1e6;
}

#search_history {
  border-top: 1px solid #000000;
  margin-top: 10px;
}

#searchHistoryButton {
  border-radius: 5px;
  margin: 10px 0;
  background-color: #646464;
  padding: 1px 15px;
  border: 2px solid #000000;
  color: #ffffff;
}

#today {
  border: 2px solid black;
}

.uv_green {
  background-color: green;
  padding: 2px 8px;
  color: white;
  border-radius: 4px;
}

.uv_yellow {
  background-color: yellow;
  padding: 2px 8px;
  border-radius: 4px;
}

.uv_orange {
  background-color: orange;
  padding: 2px 8px;
  border-radius: 4px;
}

.uv_red {
  background-color: red;
  padding: 2px 8px;
  color: white;
  border-radius: 4px;
}

.uv_purple {
  background-color: purple;
  padding: 2px 8px;
  color: white;
  border-radius: 4px;
}

#today p {
  font-weight: bold;
}

#forecast {
  margin-top: 15px;
}

.future {
  background-color: #213179;
  color: #ffffff;
}
